*/*

*.*

!Page-ReplacementAlgorithms-c-implemantation-using-linkedlist/main
!Page-ReplacementAlgorithms-c-implemantation-using-linkedlist/include

!Page-ReplacementAlgorithms-java-implemantation/src
